html {
	height: auto;
}
#my-theme .black-text {
	color: black;
}

#my-theme .align-center {
	text-align: center;
}

#my-theme .bottom-space {
	margin-bottom: 10px;
}


#my-theme .v-centered-content {
	display: flex;
	align-items: center;
}

.hide {
	display: none;
}

.border {
	border: 1px solid blue;
    box-sizing: border-box;
}

.container {
	width: 100%;
	height: 100%;
}

.right-text {
	text-align: right;
}

}
.listing-text {
	float: left;
	margin-left: 20px;
}

.map {
	width: 100%;
	min-height: 500px;
}

#my-theme .toilet-card {
	border: 8px blue;
	padding: 5px;
	
}

#my-theme .standardFont {
	font-family: 'Josefin Sans', sans-serif;
	text-align: left;
}

.toilet-info {
	display: inline-flex;
	align-content: space-around;
}
